@import "../../index.scss";

.wrapper {
    width: 100%;

    &_head {
        position: sticky;
        top: 107px;
        background-color: $primary;
        -webkit-box-shadow: 0px 1px 0px 0px $pearl-white;
        -moz-box-shadow: 0px 1px 0px 0px $pearl-white;
        box-shadow: 0px 1px 0px 0px $pearl-white;

        > tr > th {
            @include font(400, 14px, $silver-grey);
            text-align: start;
            padding: 15px 30px;
        }
    }
}
